@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="0; url= @ViewBag.url" /> 
    <title></title>
</head>
<body>
    <div>        
    </div>
    
</body>
</html>
